html {
  background-color: #fff;
  font-family: interstate, sans-serif;
  font-family: filosofia, serif;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100px;
  display: block;
}

.banner {
  display: block;
}

h1, h2, h3, .subtitle {
  font-family: interstate, sans-serif;
}

a, .btn {
  font-family: interstate, sans-serif;
}

nav a {
  text-align: right;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  border-bottom: #000 2px solid;
}

nav .current {
  border-bottom: #000 2px solid;
}

.recipes {
  margin-left: 25px;
  margin-right: 25px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 82em;
  width: 100%;
}

.card {
  max-width: 20em;
  border: 1px solid #000;
}

.align-bottom {
  vertical-align: bottom;
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  h1 {
    float: left;
  }

}
